<!-- <!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Painting Name</th>
    <th>Arist Name</th>
    <th>X Coordinates</th>
    <th>Y Coordinates</th>
    <th>Style</th>
    <th>Complete/Partial</th>
    <th>URL</th>
  </tr>

  <% @paintings.each do |painting| %>
  <tr>
  	<td> <%= painting.name %> </td>
  	<td> <%= painting.artist_name %> </td>
  	<td> <%= painting.xcoords %> </td>
  	<td> <%= painting.ycoords %> </td>
  	<td> <%= painting.style %> </td>
  	<td> <%= painting.complete %> </td>
  	<td> <%= painting.url %> </td>
  </tr>

  <% end %>
</table>

</body>
</html> -->

<?xml version="1.0" encoding="ISO-8859-1"?>
<% $ptitles = " " %>
<% $partists = " " %>
<% $xcoords = " " %>
<% $ycoords = " " %>
<% $pstyle = " " %>
<% $pcomplete = " " %>
<% $purl = " " %>
<% $semicolon = ";"%>
<% @paintings.each do |painting| %>
  <% $ptitles = $ptitles + painting.name + "; " %>
  <% $partists = $partists + painting.artist_name + "; " %>
  <% $xcoords = $xcoords + painting.xcoords + "; " %>
  <% $ycoords = $ycoords + painting.ycoords + "; " %>
  <% $pstyle = $pstyle + painting.style + "; " %>
  <% $pcomplete = $pcomplete + painting.complete.to_s + "; " %>
  <% $purl = $purl + painting.url + "; " %>
<% end %>
<%= "<" + "painting" + ">" + $ptitles.chop.chop + " <" + "/" + "painting" + ">" %>
<%= "<" + "artist" + ">" + $partists.chop.chop + " <" + "/" + "artist" + ">" %>
<%= "<" + "xcoords" + ">" + $xcoords.chop.chop + " <" + "/" + "xcoords" + ">" %>
<%= "<" + "ycoords" + ">" + $ycoords.chop.chop + " <" + "/" + "ycoords" + ">" %>
<%= "<" + "style" + ">" + $pstyle.chop.chop + " <" + "/" + "style" + ">" %>
<%= "<" + "complete" + ">" + $pcomplete.chop.chop + " <" + "/" + "complete" + ">" %>
<%= "<" + "url" + ">" + $purl.chop.chop + " <" + "/" + "url" + ">" %>
