<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
</style>
</head>
<body>

<table style="width:100%">
  <tr>
    <th>Painting Name</th>
    <th>Arist Name</th>		
    <th>X Coordinates</th>
    <th>Y Coordinates</th>
    <th>Style</th>
    <th>Complete/Partial</th>
    <th>URL</th>
  </tr>
  
  <% @paintings.each do |painting| %>
  <tr>
  	<td> <%= painting.name %> </td>
  	<td> <%= painting.artist_name %> </td>
  	<td> <%= painting.xcoords %> </td>
  	<td> <%= painting.ycoords %> </td>
  	<td> <%= painting.style %> </td>
  	<td> <%= painting.complete %> </td>
  	<td> <%= painting.url %> </td>
  </tr>
  
  <% end %>
</table>

</body>
</html>




<?xml version="1.0" encoding="ISO-8859-1"?>
<feedback>
  <% @paintings.each do |painting| %>
    <painting> <%= painting.name %> </painting>
    <aritst> <%= painting.artist_name %> </artist> 
    <urls>http://facesdb-visionlab.rhcloud.com/face_images/89410.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89371.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89300.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89461.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89361.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89297.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89232.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89445.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89232.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89297.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89361.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89371.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89300.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89445.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89410.jpg; http://facesdb-visionlab.rhcloud.com/face_images/89461.jpg</urls>
    <is_rateds>0; 1; 1; 1; 1; 1; 0; 1; 1; 1; 0; 1; 0; 1; 1; 1</is_rateds>
</feedback> 
<% end %>
